* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.slideshow-container {
    width: 800px;
    max-width: 80%;
    position: relative;
    margin: auto;
    height: 80vh;
}

.mySlides {
    display: none;
    text-align: center;
}

.slide {
    max-height: 80vh;
    max-width: 100%;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    text-shadow: 0 0 2px black;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    color: white;
    text-shadow: 0 0 2px black;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: white;
    text-shadow: 0 0 2px black;
    position: absolute;
    top: 0;
}

.dots {
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 30px;
    width: 30px;
    margin: 10px 20px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.pf_sp {
    padding: 15px 0;
    text-align: center;
}

.button_back {
    letter-spacing: 1.5px;
    text-decoration: none;
    color: black;
    display: inline-block;
    border: 3px solid black;
    border-radius: 45px;
    padding: 8px 25px;
}

.button_back:hover {
    color: #fff;
    background-color: black;
}